* {
    box-sizing: border-box;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: solid 2px rgb(0, 117, 8);
    background-color: rgb(255, 255, 255)!important;
}
.pokedex{
    width: 250px;
}
.form-control {
    background-color: var(--main-bg-color);
    opacity: 0.5;
}

:root {
    --main-bg-color: #fdc447;
    --main-bg-color2: rgb(0, 80, 52);
}

.container-fluid{
    background-color: var(--main-bg-color);
}

.form-control:hover {
    background-color: white;
}

#passwordHelpBlock{
    display:none
}

.pass_word:hover #passwordHelpBlock{
    display: initial;
} 

.btn {
    background-color: var(--main-bg-color2);
    color: white;
}

.btn:hover{
    background-color: var(--main-bg-color2);
    transform: scale(1.2);
    opacity: 0.9;
    color: white;
}

.pokemonButton{
    background-color: var(--main-bg-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
}

.pokemonButton:hover{
    background-color: #ffffff;
    box-shadow:inset 0px 0px 0px 3px var(--main-bg-color);
    color: var(--main-bg-color);
}

.imgElement{
    width: 200px;
    height: 200px;
}
.flame-move{
    opacity: 0;
    animation: hideshow 0.5s ease infinite;
    height: 100px;
    scale: 0.3;
}
.flame{
    opacity: 1;
    animation: showhide 0.5s ease infinite;
    scale: 0.3;}

@keyframes hideshow {
    0% { opacity: 0;
        transform: scale(1.2); }
    30% { opacity: 0.5; 
        transform: scale(1);}
    80% { opacity: 1; }
  } 