* {
    box-sizing: border-box;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: solid 2px rgb(0, 117, 8);
    background-color: rgb(255, 255, 255)!important;
}
.anahit_img{
    width: 250px;
}
.form-control {
    background-color: var(--main-bg-color);
    opacity: 0.5;
}

:root {
    --main-bg-color: rgb(191, 254, 196);
    --main-bg-color2: rgb(0, 80, 52);
}

.form-control:hover {
    background-color: white;
}

#passwordHelpBlock{
    display:none
}

.pass_word:hover #passwordHelpBlock{
    display: initial;
} 

.btn {
    background-color: var(--main-bg-color2);
    color: white;
}

.btn:hover{
    background-color: var(--main-bg-color2);
    transform: scale(1.2);
    opacity: 0.9;
    color: white;
}

.pokemonButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    text-align: center;
}